<!DOCTYPE html>
<html>
<head>
    <title>Mist</title>

    <link rel="stylesheet" href="css/editor.css"/>
    <link rel="stylesheet" href="css/app.css"/>

    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <script type="text/javascript" src="js/bootstrap.js"></script>
</head>
<body ng-app="Mist">
<!--Location of the view-->
<section id="view" ng-view="" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}"></section>
<% include partial/main.ejs %>
<% include partial/hub.ejs %>
<% include partial/project.ejs %>
<% include partial/login.ejs %>

<div class="navbar navbar-fixed-bottom navbar-inverse">
    <div class="navbar-inner" ng-controller="ToolBarCtrl" ng-model="toolbaruser">
        <div class="navbarmist">
            <a class="brand" href="/">Mist</a>
            <ul class="nav">
                <li><a href="/hub">Home</a></li>
                <li><a href="/project">Editor</a></li>
                <li><a href="/community">Community</a></li>
            </ul>
            <form class="navbar-form pull-right">
                <div ng-show="toolbaruser.loggedin">
                    <input type="text" class="span2" placeholder="Username...">
                    <input type="password" class="span2" placeholder="Password...">
                    <button type="submit" class="btn">Log In</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>

<!--JavaScript References-->
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/ngProgress.js"></script>
<script type="text/javascript" src="js/global.js"></script>
<script type="text/javascript" src="js/statuscode.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controllers.js"></script>
</html>