[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.animate-enter {
    -webkit-transition: 0.5s linear all; /* Chrome */
    transition: 0.5s linear all;
    opacity: 0;
}

.animate-enter.animate-enter-active {
    opacity: 1;
}

.animate-leave {
    -webkit-transition: 0.1s linear all; /* Chrome */
    transition: 0.1s linear all;
    opacity: 0;
}

.animate-leave.animate-leave-active {
    opacity: 0;
}

#view {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#background {

    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0px;
    padding: 0px;
}

.mainbody {
    background-color: rgba(255, 255, 255, 0.7);
    -moz-border-radius: 10px; /* for Firefox */
    -webkit-border-radius: 10px; /* for Webkit-Browsers */
    border-radius: 10px; /* regular */
    margin-top: 20px;
    margin-bottom: 50px;
}

.toolbarcontainer {
    margin-top: 20px;
    margin-bottom: 50px;
}

.toolbarchild {
    background-color: rgba(255, 255, 255, 0.7);
    -moz-border-radius: 10px; /* for Firefox */
    -webkit-border-radius: 10px; /* for Webkit-Browsers */
    border-radius: 10px; /* regular */
    overflow-y: auto;
    margin-bottom: 5px;
    height: 50%;
}

.bodytitle {
    text-align: center;
    font-size: 60px;
}

.bodytext {
    padding: 5px;
    font-size: 20px;
}

.standardtext {
    padding: 5px;
}

.mist-form {
    text-align: center;
}

.iocontainer {
    background-color: rgba(255, 255, 255, 0.9);
    width: 50%;
    float: left;
}

.navbarmist {
    padding-left: 10px;
    padding-right: 10px;
}

.hubtitle {
    text-align: center;
}

.centertext {
    text-align: center;
}

.toolbaroutput {
    margin-left: 2px;
    height: 50%;
    width: 90%;
    background-color: rgba(10, 10, 10, 0.6);
    color: black;
}

.toolbar-btn-container {
    margin-left: 2px;
}

.projectsempty {
    text-align: center;
}

.project {
    background-color: rgba(255, 255, 249, 0.7);
    -moz-border-radius: 10px; /* for Firefox */
    -webkit-border-radius: 10px; /* for Webkit-Browsers */
    border-radius: 10px; /* regular */
    margin-bottom: 2px;
}

.challenge {
    background-color: rgba(251, 255, 251, 0.7);
    -moz-border-radius: 10px; /* for Firefox */
    -webkit-border-radius: 10px; /* for Webkit-Browsers */
    border-radius: 10px; /* regular */
    margin-bottom: 2px;
}

.hubbody {
    margin-top: 20px;
    margin-bottom: 50px;
    overflow-y: auto;
}

.selectlabel {
    margin-top: 4px;
    text-align: center;
}

