<script id="hub.html" type="text/ng-template">
    <div ng-class="background" id="background" ng-controller="HubCtrl">
        <div ng-class="container-fluid" class="container-fluid">
            <div ng-class="row-fluid" class="row-fluid">
                <div class="span5 offset1 mainbody">
                    <h2 class="hubtitle">Challenges</h2>

                    <div class="hubcontainer">
                        <div class="challenge" ng-repeat="challenge in challenges">
                            <h2>{{ challenge.title }}</h2>

                            <p>{{ challenge.shortdesc }}</p>
                            <button><a ng-href="/begin/{{challenge.challengeid}}">Begin</a></button>
                        </div>
                    </div>
                </div>
                <div class="span5 mainbody">
                    <h2 class="hubtitle">Projects</h2>

                    <div class="hubcontainer">
                        <div class="projectsempty" ng-show="projects.length == 0">
                            It's very lonely in here, maybe start a challenge?
                        </div>
                        <div class="project" ng-repeat="project in projects">
                            <h2>{{ project.challenge.title }}</h2>

                            <p>{{ project.timeremaining }}</p>
                            <button><a ng-href="/project/{{project.projectid}}">Resume</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</script>