<script id="login.html" type="text/ng-template">
    <div ng-class="background" id="background">
        <div ng-class="container-fluid" class="container-fluid">
            <div ng-class="row-fluid" class="row-fluid">
                <div ng-class="span3 offset3 mainbody" class="span3 offset3 mainbody">
                    <form class="mist-form">
                        <h2>Register</h2>
                        <fieldset>
                            <input type="text" placeholder="Email Address...">
                            <span class="help-block">Don't worry, we hate spam.</span>
                            <input type="text"  placeholder="User Name...">
                            <br />
                            <input type="text" placeholder="Password...">
                            </br />
                            <input type="text"  placeholder="Repeat Password...">
                            <br />
                            <button type="submit" class="btn">I Agree And Register</button>
                        </fieldset>
                    </form>
                </div>
                <div ng-class="span3 mainbody" class="span3 mainbody">
                    <form class="mist-form" ng-class="mist-form">
                        <h2>Log In</h2>
                        <fieldset>
                            <input type="text"  placeholder="Username...">
                            <br />
                            <input type="text"  placeholder="Password...">
                            <span class="help-block">Just to let you know, you can log in at the bottom.</span>
                            <button type="submit" class="btn">Log In</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</script>