<script id="main.html" type="text/ng-template">
    <div ng-class="background" id="background">
        <div ng-class="container-fluid" class="container-fluid">
            <div ng-class="row-fluid" class="row-fluid">
                <div ng-class="span6 offset4 mainbody" class="span6 offset3 mainbody">
                    <h1 ng-class="bodytitle" class="bodytitle">Mist</h1>

                    <div ng-class="bodytext" class="bodytext" >
                        <h3>The Problem</h3>
                        Right now, there are tons of modern ways to learn coding on the web such as <a href="http://www.codecademy.com/">Code Academy</a>.
                        It's great, but coding isn't useful if you cannot problem-solve.
                        The web-based compiler/editor problem-solving marketplace isn't great at the moment.
                        Sites such as <a href="http://www.topcoder.com/">Top Coder</a>
                        are based ancient java web technologies, and in the HTML5 world, we believe that's just unacceptable.
                        <br />
                        <br />
                        <p>This is why we created Mist. A modern problem-solving platform.</p>

                        <h3>What it does</h3>

                        <p>Mist has three things that competitors don't have right now:</p>
                        <ol>
                            <li>A modern text editor and compiler</li>
                            <li>No dependency to java web</li>
                            <li>Ability to solve programming problems</li>
                        </ol>

                        <h3>Get started</h3>

                        <p>Why don't you try it out?</p>

                        <div ng-class="btn-group" class="btn-group">
                            <button class="btn" ng-class="btn">Guest</button>
                            <button class="btn" ng-class="btn">Sign Up</button>
                            <button class="btn" ng-class="btn">Log In</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</script>