<script id="main.html" type="text/ng-template">
    <div ng-class="background" id="background">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span6 offset3 mainbody">
                    <h1 class="bodytitle">/* Mist */</h1>

                    <div class="bodytext">
                        <h3>// The Problem</h3>
                        Right now, there are tons of modern ways to learn coding on the web such as <a
                            href="http://www.codecademy.com/">Code Academy</a>.
                        It's great, but coding isn't useful if you cannot problem-solve.
                        The web-based compiler/editor problem-solving marketplace isn't great at the moment.
                        Sites such as <a href="http://www.topcoder.com/">Top Coder</a>
                        are based on ancient java web tech, and in the HTML5 world, we believe that's just
                        unacceptable.
                        <br/>
                        <br/>

                        <p>This is why we created Mist. A modern problem-solving platform for all coders alike.</p>

                        <h3>// What it does</h3>

                        <p>Mist has three things that others don't have right now:</p>
                        <ol>
                            <li>A modern text editor and compiler</li>
                            <li>No dependency to java web</li>
                            <li>Ability to solve programming problems</li>
                        </ol>

                        <h3>// The Target Audience</h3>
                        Mist targets students, professionals, and anyone in between. Whether you want
                        to just get better at solving stuff, or you want to prepare for an interview,
                        Mist is right for you.

                        <div ng-show="!toolbarlogin.loggedin">
                            <h3>// Get Started</h3>

                            <p>Why don't you try it out?</p>

                            <div class="btn-group">
                                <button class="btn" ng-class="btn">Guest</button>
                                <a href="/login">
                                    <button class="btn" ng-class="btn">Sign Up</button>
                                </a>
                                <a href="/login">
                                    <button class="btn" ng-class="btn">Log In</button>
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</script>